strong {
  .noTasks & {
    color: #c00;
  }
}

.noTasks {
  color: #191919;
  font-size: 20px;
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;

  &[aria-hidden="true"] {
    display: none;
  }
}